@import '../../../base.scss';

header {
    height: fit-content;
    width: 100%;
    background-color: $primary-color;
    @include shadowed;
    @include flex-centered;
    @include text_type_1;

    .title-header {
        padding: 1rem;
    }
}